.card {
   width: 75%;
   margin: 50px auto;
  border: 20px;
  border-radius: 10px;
  padding: 40px 40px;
  color: #996666;
background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);}

#enterCity {border-radius: 10px;}

body {
  text-align: center; font-size: smaller;
}
h1 {
  font-family: "Franklin Gothic Medium", Arial Narrow, Arial, sans-serif;
}
#currentTemp,
#fahrenheit,
#celcius,
.barrier {
  font-size: 30px;
}
#topSearch,
#Den, #Chi, #Sea, #Tam,#Use-Curr {background-color: #c48f7f; 
color: #fff;}

#EndCode {text-align: center; font-size: smaller;}
#temp-descript {text-transform: capitalize;}

.active {
  color: #996666;
  cursor: default;
}
#fahrenheit:hover,
#celcius:hover {
  text-decoration: none;
}

#tempEmoji {
 image-rendering: auto;
  max-width: 55px;
}
#temp-descript {font-size: 30px;}

.weather-forcast {margin-top: 20px;
text-align: center;color:#0081c2;}

.forecast-temp {font-size: 12px;}
.fore-temp-min {opacity: 0.6;}